*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

#cvs{
    cursor: none;
}

#radiusRange{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 50vw;
}